<html lang="ja" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
</head>
<body>
<footer class="col-sm-12 col-xs-12" layout:fragment="footer">
    <div class="row">
        <div class="col-sm-12 col-xs-12 crearfix">
            <hr/>
            <p>
                要望、改善提案、不具合報告はTwitter<a href="https://twitter.com/ort_dev" target="_blank">@ort_dev</a>までお願いします。<br/> 投げ銭いただける方は<a
                    href="javascript:void(0);"
                    data-toggle="modal" data-target="#kampa-modal">こちら</a>からお願いします。<br/>
            </p>
        </div>
        <div class="modal fade" id="kampa-modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span>×</span>
                        </button>
                        <h4 class="modal-title">投げ銭について</h4>
                    </div>
                    <div class="modal-body">
                        <ul>
                            <li>投げ銭いただける方は、下記Amazonほしい物リストからお願いします。</li>
                            <li>改善提案、ご要望については投げ銭の有無に関係なく積極的に取り入れていくので、Twitter<a href="https://twitter.com/ort_dev" target="_blank">@ort_dev</a>までお願いします。
                            </li>
                        </ul>
                        <a href="https://www.amazon.co.jp/hz/wishlist/ls/1KZSJAJS1ETW4?ref_=wl_share" target="_blank" class="btn btn-success">Amazonほしい物リストから送る</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>