<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
    <meta charset="utf-8"/>
    <title>人狼ゲームを始める方向け</title>
    <style>
img {
	max-width: 100%;
}

p {
	line-height: 1.6;
	margin-bottom: 10px;
}

.h5 {
	font-weight: bold;
}

    </style>
</head>

<body>
<div class="container">
    <div layout:fragment="content">
        <div id="wrapper">
            <div class="col-sm-12 col-xs-12">
                <h1 class="h4">人狼ゲームを始める方に</h1>
                <p>これから人狼ゲームを始める方向けに、ルール紹介や初心者に優しい企画村・イベントを紹介します。</p>
                <div class="well">
                    <ul style="padding-inline-start: 0px; list-style: none;">
                        <li><a href="#rule">人狼ってどんなゲーム？</a></li>
                        <li><a href="#skill">色んな役職がある</a></li>
                        <li><a href="#type">オンライン人狼、対面人狼、Discord人狼の違いは？</a></li>
                        <li><a href="#try">初心者でも参加しやすい所は？</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-xs-12" style="margin-top: 20px;">
                <h2 class="h4" id="rule">人狼ってどんなゲーム？</h2>
                <p>人狼は、プレイヤーが村人陣営と人狼陣営のいずれかに分かれ、それぞれの陣営の勝利を目指すゲームです。</p>
                <p>ゲームが始まると、下の画像のように各プレイヤーに「役職」が割り当てられます。</p>
                <img th:src="@{app/images/rule/01.png}"/>
                <p>
                    この割り当てられた役職はそれぞれ自分のものしか見てはいけません。そのため、自分以外の誰に何の役職が割り当てられているかはわかりません。<br>（ただし人狼だけは、他の人狼が誰かわかります）
                </p>
                <p>
                    ゲームが開始したら、誰が人狼であるかを議論し、追放したい人を決めます。<br>人狼は、村人を装いながら議論に参加します。
                </p>
                <img th:src="@{app/images/rule/02.png}"/>
                <p>
                    議論時間が終わったら投票時間です。<br>各プレイヤーが一人を選んで投票し、最多票となったプレイヤーを処刑することで追放します。<br> 追放されたプレイヤーは以降の議論に参加することができません。
                </p>
                <img th:src="@{app/images/rule/03.png}"/>
                <p>
                    投票が終わったら夜時間です。<br>人狼は一人を選んで襲撃することでプレイヤーをゲームから追放することができます。<br>処刑と同じく、追放されたプレイヤーは以降の議論に参加することができません。
                </p>
                <img th:src="@{app/images/rule/04.png}"/><br> <img th:src="@{app/images/rule/05.png}"/>
                <p>
                    ここまでがゲーム中の「1日」の流れになります。<br>以降はどちらかの陣営の勝利条件を満たすまで「議論」「投票による処刑」「人狼による襲撃」を繰り返します。
                </p>
                <p>
                    村人陣営の勝利条件は「人狼が全員追放されること」、人狼陣営の勝利条件は「生存している村人陣営の人数が生存している人狼の人数以下になること」です。<br>
                    ちなみに、追放された人も、自分の陣営が勝利すれば勝利となります。（追放された＝負けではありません）
                </p>
                <img th:src="@{app/images/rule/06.png}"/>
                <p>大まかな流れは以上となります。このように、自分の身の潔白を証明しながら人狼を推理し、他人を説得して勝利を目指すというのが人狼の醍醐味です。</p>
            </div>
            <div class="col-sm-12 col-xs-12" style="margin-top: 40px;">
                <h2 class="h4" id="skill">色んな役職がある</h2>
                <p>
                    先程までの例では「村人」と「人狼」しか登場しませんでしたが、これでは誰が人狼であるか話し合うこともままなりません。<br>そこで、下記のように特殊な能力を持った役職を加えることが多いです。
                </p>
                <h3 class="h5">占い師（予言者と言うこともあります）</h3>
                <p>毎晩、一人を選んでその人が人狼かそうでないかを知ることができます。村人陣営です。</p>
                <h3 class="h5">霊能者（霊媒師と言うこともあります）</h3>
                <p>毎晩、処刑された人が人狼であったかそうでないかを知ることができます。村人陣営です。</p>
                <h3 class="h5">狩人（騎士やボディーガードと言うこともあります）</h3>
                <p>毎晩、一人を選んで人狼の襲撃から守ることができます。ただし自分自身を守ることはできません。村人陣営です。</p>
                <h3 class="h5">狂人（裏切者と言うこともあります）</h3>
                <p>
                    特殊な能力はありませんが、人狼陣営に所属しています。占いや霊能結果では人狼ではないと判定されます。<br>議論をかき回したり、他の役職者のフリをして邪魔をする役割です。
                </p>
                <img th:src="@{app/images/rule/07.png}"/>
                <p>
                    他にも多くの役職がありますがここでは割愛します。<br>推理する内容がシンプルになるので、慣れていないうちは役職が少ないルールのところに参加することをおすすめします。
                </p>
            </div>
            <div class="col-sm-12 col-xs-12" style="margin-top: 40px;">
                <h2 class="h4" id="type">オンライン人狼、対面人狼、Discord人狼の違いは？</h2>
                <p>人狼は実際に対面する遊び方だけでなく、オンライン上で他人と遊ぶこともできます。<br>大まかにわけると遊び方は以下の3つになります。</p>
                <h3 class="h5">オンライン人狼</h3>
                <p>議論はBBSやチャットなどの文字で行われ、システム上でゲームを進行してもらえるため、ゲームマスターが不要になっているのが特徴です。</p>
                <p>議論時間を24時間程度とる「長期人狼」や数分〜十数分程度とる「短期人狼」など色んな形式があります。</p>
                <p>対面や通話で行う場合と異なり表情や声色はわかりませんが、文章が残るため後々精査されます。<br>特に長期人狼では、考え方の相互理解や論理の矛盾点の指摘、様々なケースの検証など、深い議論になる傾向にあります。</p>
                <p>
                    <a th:href="@{/site-list}" target="_blank">人狼サイト・アプリ一覧</a>にあるように多数のサイトやアプリがあり、ごく一部のサイトを除いて無料で遊ぶことができます。<br>
                    友人同士で遊ぶ村を建てることもできますし、知らない人同士の参加が前提となっている村もあります。
                </p>
                <h3 class="h5">対面人狼</h3>
                <p>実際に人と人とが集まり、会話により議論を進めます。<br>基本的に、一人ゲームマスターを立ててゲームを進行してもらうことになります。</p>
                <p>議論時間はオンライン人狼の短期人狼同様数分〜十数分となり、対面で行うため表情やしぐさ、視線、声色なども推理要素になるのが特徴です。</p>
                <p>各地で定期的に開催されていて一般募集も多く、イベントにもよりますが、初心者も安心して参加できるように配慮している会が多いように見受けられます。</p>
                <h3 class="h5">Discord人狼(Skype人狼)</h3>
                <p>DiscordやSkypeで人と人とが集まり、会話により議論を進めます。<br>一人ゲームマスターを立てるか、Discordのサポートツールを導入することでゲームを進行してもらいます。</p>
                <p>議論時間はオンライン人狼の短期人狼同様数分〜十数分となり、通話で行うため声色などが推理要素になるのが特徴です。（対面と違い、表情やしぐさ等はわかりません）</p>
                <p>一般募集というよりは友人同士で行うことが多いと思われます。</p>
            </div>
            <div class="col-sm-12 col-xs-12" style="margin-top: 40px;">
                <h2 class="h4" id="try">初心者でも参加しやすいオンライン人狼は？</h2>
                <p>
                    オンライン人狼ができるサイトやアプリは多数あり、身内向けの村や誰でも参加歓迎の村、他人同士の参加が前提の村、上級者だけが集まる村・・・など様々な村が建ちます。<br>ここでは、これから始める方や初心者の方でも参加しやすいサイトや企画村を紹介します。
                </p>
                <h3 class="h5">
                    <a href="https://twitter.com/meeco_ne" target="_blank">ほぢょりん村</a>
                </h3>
                <p>
                    長期人狼の「超初心者村」企画で、「人狼のルールがサッパリわからない完全初心者の方最優先」で参加者を募集しています。<br> 進行中に相談相手としてサポーターがつくので安心できます。<br>
                    定期的に開催されているようなので、参加したい方はTwitter（<a
                        href="https://twitter.com/meeco_ne" target="_blank">めぇ子</a>さん）をチェックしましょう。<br> 本ページ執筆時点で企画されている最新の会は<a
                        href="http://jsfun525.gamedb.info/wiki/?%A4%DB%A4%C2%A4%E7%A4%EA%A4%F3%C2%BC%A3%B8%A1%DA%C4%B6%BD%E9%BF%B4%BC%D4%B8%FE%A4%B1%A1%DB"
                        target="_blank">こちら</a>
                </p>
                <h3 class="h5">
                    <a
                            href="http://melon-cirrus.sakura.ne.jp/wiki/?%B4%EB%B2%E8%C2%BC%A5%DA%A1%BC%A5%B8%2F%BD%E9%BF%B4%BC%D4%A4%AC%A4%A4%A4%EB%C2%BC%A1%A6%A4%B7%A4%C3%A4%AF%A4%B9%A1%AA"
                            target="_blank">初心者がいる村</a>
                </h3>
                <p>
                    初心者さんに長期人狼の楽しさを知ってもらいたいという目的で作られた企画で、長期人狼を始めてみたい人も歓迎しています。<br> 墓下（死亡後チャット）に解説してくれる人や褒めてくれる人がいるので始めたてでも色々と教えてもらえます。<br>
                    定期的に開催されているようなので、参加したい方はTwitter（<a href="https://twitter.com/llblue_rcs" target="_blank">りちゃそ</a>さん、<a
                        href="https://twitter.com/animeiku"
                        target="_blank">きいろん</a>さん、<a href="https://twitter.com/TripDancer_c9"
                                                      target="_blank">Ladybird</a>さん）をチェックしましょう。<br>
                    本ページ執筆時点で企画されている最新の会は<a
                        href="http://melon-cirrus.sakura.ne.jp/wiki/?%B4%EB%B2%E8%C2%BC%A5%DA%A1%BC%A5%B8%2F%BD%E9%BF%B4%BC%D4%A4%AC%A4%A4%A4%EB%C2%BC%A1%A6%A4%B7%A4%C3%A4%AF%A4%B9%A1%AA"
                        target="_blank">こちら</a>
                </p>
                <h3 class="h5">
                    <a href="http://www.wolfg.x0.com/" target="_blank">人狼BBS初心者村</a>
                </h3>
                <p>
                    オンライン人狼の先駆けとなったサイトで、他人同士の参加を前提として、自動で長期人狼の村が建つようになっています。<br>11の倍数の村は「初心者村」となっており、3戦以上参加した人は村が建って1日間は参加が制限されます。<br>
                    上記2つと異なりサポーターが付くわけではありませんが、普通の村と比較すると敷居は低めです。
                </p>
                <h3 class="h5">
                    <a href="https://www.sorairo.jp/jrvs.html" target="_blank">人狼ジャッジメント</a>
                </h3>
                <p>
                    短期人狼が遊べるアプリです。リアルタイムで観戦ができるようになっているのと、チャットの中で出てきた用語をすぐに調べられる仕組みがあります。<br>また、短期人狼のサイト・アプリの中では初心者が比較的多めのため、初めての方でも参加しやすいでしょう。
                </p>
            </div>
            <div class="col-sm-12 col-xs-12" style="margin-top: 40px;">
                <h2 class="h4" id="">さいごに</h2>
                <p>
                    以上です。最初はとっつきにくいですが、非常に奥深く、やってみると何度もやりたくなるゲームですので、ぜひ遊んでみてください！<br>
                </p>
                <a th:href="@{/}" class="btn btn-primary">トップページへ戻る</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
