<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
    <meta charset="utf-8"/>
    <title th:text="${countryPlayer.countryName + ' ' + countryPlayer.userId + ' ユーザ情報'}"></title>
    <script src="../static/app/js/stats-country-player.js" th:src="@{/app/js/stats-country-player.js}"></script>
</head>

<body>
<div class="container">
    <div layout:fragment="content">
        <div id="wrapper">
            <div class="col-sm-12 col-xs-12">
                <h1 class="h3" th:text="${countryPlayer.countryName + ' ' + countryPlayer.userId}">人狼BBS:G ort</h1>
                <p th:text="${'ユーザID: ' + countryPlayer.userId + ' の ' + countryPlayer.countryName + ' での戦績です。'}"></p>
                <a th:href="@{/stats/player/{playerId}(playerId=${countryPlayer.playerId})}">他国も含めて見る</a>
            </div>
            <div class="col-sm-12 col-xs-12">
                <h2 class="h3">参加した村</h2>
            </div>
            <div class="col-sm-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">検索</div>
                    <div class="panel-body">
                        <form id="search-form" th:object="${searchForm}">
                            <div class="form-group">
                                <label>村名 (部分一致)</label> <input type="text" th:field="*{villageName}" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-primary pull-right">検索</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-xs-12">
                <nav layout:replace="~{parts/pagenation::pagenation(${paging})}"></nav>
            </div>
            <div class="col-sm-12 col-xs-12">
                <div id="village-list" class="table-responsive small">
                    <table class="table table-striped table-condensed table-bordered">
                        <thead>
                        <tr>
                            <th>村名</th>
                            <th>キャラクター名</th>
                            <th>役職</th>
                            <th>生死</th>
                            <th>勝敗</th>
                            <th>開始日時</th>
                            <th>終了日時</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="vps : ${vpsList}">
                            <td><a
                                    th:href="@{/stats/country/{countryId}/village/{villageId}(countryId=${vps.village.countryId}, villageId=${vps.village.villageId})}"
                                    th:text="${vps.village.villageName}">G1234 ほげ村</a> &nbsp;(<a th:href="${vps.village.villageUrl}"
                                                                                                 target="_blank">本国</a>)
                            </td>
                            <td th:text="${vps.characterName}">シスター フリーデル</td>
                            <td th:text="${vps.skillName}">村人</td>
                            <td th:class="${vps.life == null ? '' : #strings.contains(vps.life, '突然') ? 'bg-danger' : ''}"
                                th:text="${vps.life}">2d襲撃死
                            </td>
                            <td th:class="${vps.winlose == '勝利' ? 'text-success'
												: vps.winlose == '敗北' ? 'text-danger' : ''}" th:text="${vps.winlose}">勝利
                            </td>
                            <td><span layout:replace="~{parts/stats-datetime::date(${vps.village.villageStartDatetime})}"></span></td>
                            <td><span layout:replace="~{parts/stats-datetime::date(${vps.village.villageEndDatetime})}"></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-12 col-xs-12">
                <nav layout:replace="~{parts/pagenation::pagenation(${paging})}"></nav>
            </div>
        </div>
    </div>
</div>
</body>
</html>
